# Python template
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables and secrets
*.env
.env*

# SQLite database files
*.db
*.sqlite3

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/

# Uvicorn / FastAPI reload artifacts
*.pid
