body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #111;
    color: #eee;
}
h1 {
    color: #00ffcc;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th {
    background: #222;
    color: #00ffcc;
}
td {
    background: #333;
}
input, button {
    padding: 8px;
    margin: 5px;
}